$color_1: white;
$font-family_1: "Courier New", Courier, monospace;
$background-color_1: var(--color-set);
$background-color_2: white;
$border-color_1: white;

:root {
	--cell-size: 100px;
	--color: #81c3fd;
	--color-set: #0275d8;
	--l: 10px;
}
body {
	margin: 0;
}
.board {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
}
.disabled {
	cursor: not-allowed;
}
.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	&:nth-child(1) {
		border-top: none;
		border-left: none;
	}
	&:nth-child(2) {
		border-top: none;
	}
	&:nth-child(3) {
		border-top: none;
		border-right: none;
	}
	&:nth-child(4) {
		border-left: none;
	}
	&:nth-child(7) {
		border-left: none;
		border-bottom: none;
	}
	&:nth-child(6) {
		border-right: none;
	}
	&:nth-child(9) {
		border-right: none;
		border-bottom: none;
	}
	&:nth-child(8) {
		border-bottom: none;
	}
	&:not(.circle).x {
		background: linear-gradient(
				to top right,
				transparent calc(50% - var(--l) / 2),
				var(--color-set) calc(50% - var(--l) / 2)
					calc(50% + var(--l) / 2),
				transparent calc(50% + var(--l) / 2)
			),
			linear-gradient(
				to bottom right,
				transparent calc(50% - var(--l) / 2),
				var(--color-set) calc(50% - var(--l) / 2)
					calc(50% + var(--l) / 2),
				transparent calc(50% + var(--l) / 2)
			);
		background-size: 80% 80%;
		background-repeat: no-repeat;
		background-position: center;
	}
	&:not(.x).circle {
		background: radial-gradient(var(--color-set) 60%, transparent 60%);
	}
}
.cell.x {
	cursor: not-allowed;
}
.cell.circle {
	cursor: not-allowed;
}

.x-hover {
	background: linear-gradient(
			to top right,
			transparent calc(50% - var(--l) / 2),
			var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2),
			transparent calc(50% + var(--l) / 2)
		),
		linear-gradient(
			to bottom right,
			transparent calc(50% - var(--l) / 2),
			var(--color) calc(50% - var(--l) / 2) calc(50% + var(--l) / 2),
			transparent calc(50% + var(--l) / 2)
		);
	background-size: 80% 80%;
	background-repeat: no-repeat;
	background-position: center;
}

.circle-hover {
	background: radial-gradient(var(--color) 60%, transparent 60%);
}

.winning-message {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $background-color_1;
	justify-content: center;
	align-items: center;
	color: $color_1;
	font-size: 5rem;
	font-family: $font-family_1;
	flex-direction: column;
	button {
		border-radius: 10px;
		font-size: 3rem;
		background-color: $background-color_2;
		border: 1px solid var(--color-set);
		padding: 0.25em 0.5em;
		cursor: pointer;
		&:hover {
			background-color: $background-color_1;
			color: $color_1;
			border-color: $border-color_1;
		}
	}
}
